body{
  background: #a0e9ff;
  background: -webkit-linear-gradient(0deg, #a0e9ff 0%, #a8f0ff 50%, #c6f5ff 100%);
  background: linear-gradient(0deg, #a0e9ff 0%, #a8f0ff 50%, #c6f5ff 100%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section.upload-container {
  background-color: #fff;
  border-radius: 10px
}

.upload {
  padding: 14px 60px 60px 60px;
}

.col {
  border: 4px dashed #cccccc;
  padding: 115px;
  
}

svg.cloud {
  font-size: 5em;
  color: #a0e9ff;
}

.head-section h1, p {
  margin: 0px;
  text-align: left;
  padding-left: 60px;
  padding-top: 20px;
  color: #5a5a5a;
}

.file-list {
  display: none;
}

.drop-files h2 {
  color: grey;
  font-size: 2.243em;
  padding-bottom: 17.1px;
}

.col.drag {
  background-color: #a8efff3d;
  transition: background-color 1s ease-in;
}

